@import "./reset.css";

@keyframes header-title-translate {
  to {
    transform: translateX(-100%);
  }
}

:root {
  --gap-vertical: 4rem;
  --gap-horizontal: 6rem;
  --layout-narrow-part: minmax(15rem, 28rem);
  --layout-narrow-part: minmax(var(), 28rem);

  --font-size-default: max(1.6rem, 14px);
  --font-size-larger: max(2rem, 14px);
  --font-size-heading-1: max(7.2rem, 14px);
  --font-size-heading-2: max(2.4rem, 14px);

  --font-family-default: 'Inter', sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;

  --line-height-default: 1.6;
  --line-height-heading-1: 1;
  --line-height-heading-2: 1.2;

  --wrapper-max-width: 120rem;
  --wrapper-padding: 2rem;
}

html {
  font-size: 62.5%;
  font-size: calc(.5 * 62.5% + .5 * (100vw / 144));
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding: var(--gap-vertical);
}

body {
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);
  line-height: var(--line-height-default);
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

[class*="layout--"] {
  display: grid;
  grid-gap: var(--gap-vertical) var(--gap-horizontal);
  align-items: start;
}

.layout {
  &--dense {
    grid-gap: 2rem var(--gap-horizontal);
  }

  &--normal {
    --gap-vertical: inherit;
  }

  &--loose {
    grid-gap: 6rem var(--gap-horizontal);
  }

  &--leading-wide {
    grid-template-columns: 1fr var(--layout-narrow-part);
  }

  &--leading-narrow {
    grid-template-columns: var(--layout-narrow-part) 1fr;
  }
}

[class*="heading--"] {
  font-weight: bold;
}

.heading--1 {
  font-size: var(--font-size-heading-1);
  text-transform: uppercase;
  line-height: var(--line-height-heading-1);
}

.heading--2 {
  display: flex;
  align-items: center;
  font-size: var(--font-size-heading-2);
  text-transform: uppercase;
  line-height: var(--line-height-heading-2);

  &:after {
    content: '';
    flex: 1;
    height: .1em;
    min-height: 1px;
    margin-left: 1em;
    background-color: currentColor;
  }
}

.wrapper {
  max-width: var(--wrapper-max-width);
  margin: 0 auto;
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
}

.link {
  --width: 1.2ch;

  display: inline-flex;
  margin-left: calc(-1 * var(--width));
  padding-left: var(--width);
  color: inherit;
  overflow: hidden;

  &:before {
    content: '>';
    position: absolute;
    top: 0;
    right: 100%;
    width: var(--width);
    font-weight: normal;
    text-decoration: none;
  }

  @media (hover: hover) {
    &,
    &:before {
      transition: transform 200ms;
      will-change: transform;
    }

    &:hover,
    &:focus {
      &,
      &:before {
        transform: translateX(var(--width));
      }
    }
  }
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__title {
    --width: 75rem;

    $text-shadow: '';
    @for $index from 1 through 10 {
      @if $index != 5 {
        $text-shadow: $text-shadow + calc((#{$index - 5}) * var(--width)) + ' 0 currentColor #{ if($index != 10, ',', '') }';
      }
    }

    width: var(--width);
    animation: header-title-translate 15s linear infinite;
    font-weight: bold;
    letter-spacing: .05em;
    text-shadow: unquote($text-shadow);
    text-transform: uppercase;
    will-change: transform;

    @media screen and (max-width: 1023px) {
      --width: 50rem;
      animation-duration: 10s;
    }

    @media screen and (max-width: 767px) {
      --width: 35rem;
      animation-duration: 7s;
    }
  }
}

.intro {
  align-items: center;
  grid-column: span 2;

  &__heading {
    margin-bottom: .2em;
  }

  &__lead {
    font-size: var(--font-size-larger);
  }
}

.nav {
  grid-area: 2 / 2 / auto / -1;
  position: sticky;
  top: var(--gap-vertical);
}

.project {
  &__title {
    grid-column: span 2;
  }

  .carousel {
    grid-column: span 2;
  }
}

.changelog {
  &__list {
    display: grid;
    grid-gap: .25em var(--gap-horizontal);
  }
}

.commit {
  display: flex;
  align-items: center;

  &__message {
    font-size: var(--font-size-larger);
  }

  &__date {
    order: 10;
    font-family: var(--font-family-mono);
  }

  &:after {
    content: '';
    flex: 1;
    height: .1em;
    min-width: 2em;
    margin: 0 1em;
    background-image: linear-gradient(to right, currentColor .1em, transparent .1em);
    background-size: .5em;
  }
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__content {
    grid-column-start: 2;
  }
}
