@import "./reset.css";

@keyframes header-title-translate {
  to {
    transform: translateX(-100%);
  }
}

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --gap-vertical: 4rem;
  --gap-horizontal: 6rem;
  --layout-narrow-part: 28rem;

  --font-size-default: max(1.6rem, 14px);
  --font-size-larger: max(2rem, 14px);
  --font-size-heading-1: max(7.2rem, 14px);
  --font-size-heading-2: max(2.4rem, 14px);

  --font-family-default: 'Inter', sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;

  --line-height-default: 1.6;
  --line-height-heading-1: 1;
  --line-height-heading-2: 1.2;

  --wrapper-max-width: 120rem;
  --wrapper-padding: 3rem;

  @media screen and (max-width: 1023px) {
    --gap-horizontal: 4rem;
    --layout-narrow-part: 20rem;
    --wrapper-max-width: 80rem;
  }

  @media screen and (max-width: 767px) {
    --gap-horizontal: 3rem;
    --layout-narrow-part: 16rem;
    --wrapper-max-width: 80rem;
    --wrapper-padding: 2rem;
  }
}

html {
  font-size: 62.5%;
  font-size: calc(.5 * 62.5% + .5 * (100vw / 144));
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding: var(--gap-vertical);
}

body {
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);
  line-height: var(--line-height-default);
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

[class*="layout--"] {
  display: grid;
  grid-gap: var(--gap-vertical) var(--gap-horizontal);
  align-items: start;
}

.layout {
  &--dense {
    grid-gap: 2rem var(--gap-horizontal);
  }

  &--normal {
    --gap-vertical: inherit;
  }

  &--loose {
    grid-gap: 6rem var(--gap-horizontal);
  }

  &--leading-wide {
    grid-template-columns: 1fr var(--layout-narrow-part);

    @media screen and (max-width: 767px) {
      grid-template-columns: auto;
    }
  }

  &--leading-narrow {
    grid-template-columns: var(--layout-narrow-part) 1fr;

    @media screen and (max-width: 767px) {
      grid-template-columns: auto;
    }
  }
}

[class*="heading--"] {
  font-weight: bold;
}

.heading--1 {
  font-size: var(--font-size-heading-1);
  text-transform: uppercase;
  line-height: var(--line-height-heading-1);
}

.heading--2 {
  display: flex;
  align-items: center;
  font-size: var(--font-size-heading-2);
  text-transform: uppercase;
  line-height: var(--line-height-heading-2);

  &:after {
    content: '';
    flex: 1;
    height: .1em;
    min-height: 1px;
    margin-left: 1.2em;
    background-color: currentColor;
  }
}

.wrapper {
  max-width: calc(var(--wrapper-max-width) + 2 * var(--wrapper-padding));
  margin: 0 auto;
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
}

.link {
  --width: 1.2ch;

  display: inline-flex;
  margin-left: calc(-1 * var(--width));
  padding-left: var(--width);
  color: inherit;
  overflow: hidden;

  &:before {
    content: '>';
    position: absolute;
    top: 0;
    right: 100%;
    width: var(--width);
    font-weight: normal;
    text-decoration: none;
  }

  @media (hover: hover) {
    &,
    &:before {
      transition: transform 200ms;
      will-change: transform;
    }

    &:hover,
    &:focus {
      &,
      &:before {
        transform: translateX(var(--width));
      }
    }
  }
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__title {
    --width: 50rem;

    $text-shadow: '';
    @for $index from 1 through 10 {
      @if $index != 5 {
        $text-shadow: $text-shadow + calc((#{$index - 5}) * var(--width)) + ' 0 currentColor #{ if($index != 10, ',', '') }';
      }
    }

    width: var(--width);
    animation: header-title-translate 10s linear infinite;
    font-weight: bold;
    letter-spacing: .05em;
    text-shadow: unquote($text-shadow);
    text-transform: uppercase;
    will-change: transform;

    @media screen and (max-width: 767px) {
      --width: 35rem;
      animation-duration: 7s;
    }
  }
}

.main {
  .wrapper {
    @media screen and (max-width: 1023px) {
      grid-template-columns: auto;
    }
  }
}

.intro {
  --gap-vertical: 1rem;
  grid-column: 1 / -1;

  @media screen and (max-width: 767px) {
    --gap-vertical: 3rem;
  }

  &__heading,
  &__lead {
    grid-column-start: 2;
  }

  &__heading {
    align-self: end;

    @media screen and (max-width: 767px) {
      grid-column: span 2;
    }
  }

  &__lead {
    font-size: var(--font-size-larger);
  }

  &__photo {
    grid-row: -1 / span 2;

    @media screen and (max-width: 767px) {
      grid-area: auto;
    }
  }
}

.nav {
  grid-area: 2 / 2 / auto / -1;
  position: sticky;
  top: var(--gap-vertical);

  @media screen and (max-width: 1023px) {
    @include visually-hidden;
    grid-area: auto;
  }
}

.project {
  &__title {
    grid-column: 1 / -1;
  }

  &__time,
  &__technologies {
    font-family: var(--font-family-mono);
  }

  &__description {
    p:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .carousel {
    grid-column: 1 / -1;
  }
}

.changelog {
  &__list {
    --gap-vertical: .25em;

    @media screen and (max-width: 1023px) {
      --gap-vertical: .5em;
    }

    @media screen and (max-width: 767px) {
      --gap-vertical: 1em;
    }
  }
}

.commit {
  display: flex;
  align-items: flex-end;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  &__message {
    font-size: var(--font-size-larger);

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__date {
    flex: none;
    order: 10;
    font-family: var(--font-family-mono);

    @media screen and (max-width: 767px) {
      flex-basis: 12ch;
    }
  }

  &:after {
    content: '';
    flex: 1;
    min-width: 2em;
    height: calc(var(--line-height-default) * 1em);
    margin: 0 1em;
    background-image: linear-gradient(to right, currentColor .1em, transparent .1em);
    background-position: left center;
    background-repeat: repeat-x;
    background-size: .5em .1em;

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .wrapper {
    @media screen and (max-width: 1023px) {
      grid-template-columns: auto;
    }
  }

  &__content {
    grid-column-end: -1;
  }
}
