.link {
  --link-marker-width: 1.2ch;
  --link-translateX: var(--link-marker-width);
  --link-translateY: 0;

  display: inline-flex;
  margin-left: calc(-1 * var(--link-marker-width));
  padding-left: var(--link-marker-width);
  color: inherit;
  overflow: hidden;

  @media (hover: hover) {
    &,
    &:before {
      transition: transform var(--duration-blink);
      will-change: transform;
    }

    &:hover,
    &:focus {
      &,
      &:before {
        transform: translateX(var(--link-translateX)) translateY(var(--link-translateY));
      }
    }
  }

  &:before {
    content: '>';
    position: absolute;
    top: 0;
    right: 100%;
    width: var(--link-marker-width);
    font-weight: normal;
    text-decoration: none;
  }
}
