.modal {
  position: relative;
  aspect-ratio: 16/10;

  &:not(.is-open) {
    .modal__toggler {
      &:before,
      .modal__cross {
        // opacity: 0;
        visibility: hidden;
      }
    }

    .modal__preview {
      transform: scale(calc(860 / 1200));

      @media #{$breakpoint-mobile} {
        transform: scale(.9);
      }
    }
  }

  &.is-open {
    .modal__preview {
      z-index: 10;
    }
  }

  &__toggler,
  &__preview {
    aspect-ratio: inherit;
  }


  &__toggler {
    display: grid;
    place-items: center;
    text-align: center;
    aspect-ratio: 16/10;
    position: relative;
    overflow: hidden;
    z-index: 10;
    color: inherit;
    width: 100%;

    &::marker {
      content: '';
      display: none;
    }

    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      background-color: var(--background-color);
      opacity: .95;
    }

  }

  &__cross {
    content: '\2573';
    position: fixed;
    top: var(--wrapper-padding);
    right: var(--wrapper-padding);
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    line-height: 1;
  }

  &__preview {
    position: absolute;
    left: 0;
    bottom: 0;
    width: min(calc(100vw - 2 * var(--wrapper-padding)), var(--wrapper-max-width));
    height: auto;
    transition: transform var(--duration-fast);
    transform-origin: left bottom;

    @media #{$breakpoint-mobile} {
      width: calc(100% * 10 / 9);
    }
  }

}
