.project {
  --animation-delay: calc(var(--duration-fast) + var(--duration-default));

  &__title {
    grid-column: 1 / -1;
  }

  &__info {
    animation-name: opacity, translateY;
    animation-duration: var(--duration-default);
    animation-delay: var(--animation-delay);
    animation-fill-mode: backwards;
    will-change: opacity, transform;

    @media screen and (max-width: 1023px) {
      animation-name: opacity;
      will-change: opacity;
    }
  }

  &__time,
  &__technologies {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-small);
    line-height: calc(1.6 * var(--line-height-default) / 1.4);
  }

  .copy {
    animation: opacity var(--duration-slow) var(--ease-out) var(--animation-delay) backwards;
    will-change: opacity;
  }

  .modal {
    grid-column: 1/-1;
  }

  .photo {
    // grid-column: 1 / -1;

    &__img {
      transform-origin: top;
      animation: opacity, scale;
      animation-delay: var(--animation-delay);
      animation-duration: var(--duration-slow);
      animation-timing-function: ease, var(--ease-out);
      animation-fill-mode: backwards;
      will-change: opacity, transform;
    }
  }
}
